<p>
  Class questions: <br>
    1. A class defines how an object will look and act like and also uses class properties and methods. <br>

    2. A class definition can include functions, constructors, and fields. <br>

    3. A class inhertance is a derived class that is called out by a word called, "extends" which calls out a subclass from the base class and the base class is called the superclass. subclass is the kid of the base class which is the parent of the subclass.
</p>


<p>{{honda.make + ' ' + honda.model}}</p>
