                    <br>{{title}} <br>

<p *ngIf="displayParagraph" [ngStyle]="{'color': 'green', 'position': 'absolute', 'right': 0, 'top': 0}"> hello world, look at me on top of the world</p>
<hr><br>

<h1 [ngClass]= "['color-red', 'background-yellow', 'hide-text']"> ng class example of string</h1>

<div [ngClass]= "'color-red background-yellow '"> i am the string example of ng class</div>

<sub [ngClass]= "['color-red', 'background-yellow']"> ng class example of array</sub>

<h3 [ngClass]= "{'color-red': true, 'background-yellow': true, 'hide-text': displayParagraph}"> ng class example of object</h3>


<ul>
<li *ngFor="let user of users" >{{user.name}} is {{user.age}} years old</li>
</ul>


<!--

  
 -->
